.add_product_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  h2 {
    font-size: 2.3em;
  }
  font-size: 2em;
}

.add_product {
  border: brown solid 3px;
  padding: 5em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  input {
    width: 10em;
    font-size: 1em;
  }
  select {
    width: 10em;
    font-size: 1em;
  }
  button {
    font-size: 1em;
    padding: 1em;
    margin-top: 1em;
  }
}
.a_showdiv {
  font-size: 2em;
  padding-left: 1em;
}
.links {
  display: flex;
  padding: 2em;
  justify-content: space-between;
}
