.header {
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 3em;
    padding-left: 1em;
  }
  &__logo {
    display: flex;
    width: 60%;
    padding-left: 2em;
    img {
      width: 7%;
    }
  }
}
