.type_select_constainer {
  display: flex;
  justify-content: space-around;
  padding: 5em;
}
.select_button {
  width: 20vw;
  height: auto;
  border: solid 2px black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #e9edc9;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  &__emoji {
    font-size: 2em;
  }
}
.button_inactive {
  width: 20vw;
  height: auto;
  border: none;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #e9edc9;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  opacity: 60%;

  &__:hover {
    width: 20vw;
    height: auto;
    border: solid 2px black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #e9edc9;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}
